.header-pane {
  background-color: aliceblue;
  height: 8vh;
  width: 90%;
  margin: auto;
  display: flex;
  border-bottom: 2px solid #fef5ac;
}
.header {
  background-color: aliceblue;

  width: 70%;
  display: flex;
  justify-content: flex-end;
}
.name {
  font-weight: bold;
  font-size: 3vh;
  padding: 0.6em 0;
  background-color: aliceblue;
}

.header-labels,
.last-panel {
  background-color: aliceblue;

  font-size: 1.7vh;
  font-weight: normal;
  padding: 1.7em 0;

  margin-right: 3vh;
}

.name:hover,
.header-labels:hover,
.last-panel b:hover {
  cursor: pointer;
  opacity: 0.5;
}

.right-pane {
  display: flex;
  background-color: aliceblue;
}

.last-panel {
  border: 2px solid black;
  height: 2.2vh;
  padding: 1vh 2em;
  margin: auto;
}
.last-panel b {
  background-color: aliceblue;
}
